# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
dist/
build/
*.egg-info/
backend/alembic/
backend/static/uploads/*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Database
*.db
*.sqlite3

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
docker-compose.override.yml 

# 前端
web/node_modules/
web/dist/
web/build/
web/.husky/
web/.vscode/
web/.eslintrc.js
web/.prettierrc.js
web/.editorconfig
web/.npmrc
web/.prettierignore
web/.prettierrc
web/.lintstagedrc
web/.stylelintrc.js

# 后端
admin/node_modules/
admin/dist/
admin/build/
admin/.husky/
admin/.vscode/
admin/.eslintrc.js
admin/.prettierrc.js
admin/.editorconfig
admin/.npmrc
admin/.prettierignore
admin/.prettierrc
admin/.lintstagedrc
admin/.stylelintrc.js

docker/mysql/


# 测试
tests/